* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth !important;
}

body {
	font-family: 'Bebas Neue', sans-serif;
	background: #010101;
	overflow-x: hidden;
	width: 100%;
	overscroll-behavior: none;
}
nav {
	padding: 1.2em 2.5em;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	font-size: clamp(1.125rem, 2vw, 1.25rem);
	font-weight: 300;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ffff;
}

#nav_list {
	display: flex;
	flex-direction: column;
}

#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 92vh;
	margin: 0;
	overflow-x: hidden;
	color: #c0bdc3;
}
h1 {
	font-size: 20.75rem;
	font-weight: 700;
	position: absolute;
	color: #ffff;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
	h1 {
		font-size: 15rem;
	}

	.timeline {
		width: 500px;
		height: 300px;
		padding: 0.5em 1em;
	}
	.timeline_parent {
		width: 600vw;
	}

	#sticky_parent {
		height: 600vh;
	}
}

#board {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	opacity: 0.2;
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	color: #ffff;
	border-bottom: 1px solid #ffff;
	border-right: 1px solid #ffff;
	border-left: 1px solid #ffff;
}

.cell:nth-child(n + 141):nth-child(-n + 160) {
	border-bottom: 0px solid black;
}
#result {
	margin-top: 20px;
	font-size: 18px;
}

#sticky_parent {
	height: 200vh;
}

.sticky {
	background: #313131;
	overflow: hidden;
	position: sticky;
	top: 0;
	height: 100vh;
}

.timeline_parent {
	position: absolute;
	top: 0;
	height: 100%;
	width: 200vw;
	will-change: transform;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.timeline {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 500px;
	height: 400px;
	color: #ffff;
	padding: 2.5em 2.5em;
	line-height: 1.5em;
	font-size: clamp(1.125rem, 2vw, 1.25rem);
}

.timeline & p {
	margin-bottom: 5px;
}
.description {
	line-height: 1.5em;
	font-weight: 500;
	font-size: clamp(1.125rem, 2vw, 1.25rem);
}

#contact {
	background: #f3af5f;
	display: flex;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 2.5em;
}

#contact,
a {
	text-decoration: none;
	color: inherit;
}

.info {
	margin-top: 1.25em;
	line-height: 1.2em;
}
